<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>481403623789-df578d73kb6idbc8b57cnuf8mv67tvfb.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.481403623789-df578d73kb6idbc8b57cnuf8mv67tvfb</string>
    <key>API_KEY</key>
    <string>AIzaSyCSRzXSwDkAeap0T2upYvAYmVXEZez2pfQ</string>
    <key>GCM_SENDER_ID</key>
    <string>481403623789</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.baneco.application</string>
    <key>PROJECT_ID</key>
    <string>banco-economico-app</string>
    <key>STORAGE_BUCKET</key>
    <string>banco-economico-app.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:481403623789:ios:063179d674a81dc0</string>
    <key>DATABASE_URL</key>
    <string>https://banco-economico-app.firebaseio.com</string>
</dict>
</plist>